@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

*{ margin: 0px; padding: 0px; box-sizing: border-box;}
body{
    height: 195vh;
    width: 100vw;   
    overflow-x: hidden;
    background-image: url("/image/background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    padding: 10px;
    color: white;
    height: 10vh;
    width: 100%;
    background-color: black;
    align-items: center;
}

#btn-home{ 
    cursor: pointer;
    color: white;
    font-size: 50px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
    font-family: sans-serif;
}
#btn-home:hover{
    scale: 0.9;
    color: rgb(101, 100, 105);
}

#container{
    color: white;
    opacity: 0.9;
    background-color: rgb(0, 0, 0);
    margin: 5vh 15vw;
    height: 80%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 30px;
    box-shadow: 1px 1px 5px 1px white;
   
   
}

.box image{
    height: 100%;
    width: 100%;
}

.box{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    font-size: 0;
}
.box:hover{scale:0.9;}

#box1{background-image: url("/image/lav-simples.png");}
#box2{background-image: url("/image/lav-vapor.jpg");}
#box3{background-image: url("/image/Higienizacao-automotiva.png");}
#box4{background-image: url("/image/purificacaoar.png");}
#box5{background-image: url("/image/snowfoam.jpg");}
#box6{background-image: url("/image/lav-seco.png");}

.box::after {
    content: attr(data-legenda); 
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 10px 20px; 
    font-family: 'Kenia', sans-serif;
    font-size: 3vw; 
    border-radius: 5px; 
    white-space: nowrap;
    display: none; 
    z-index: 1; 
}

.box:hover::after {
    display: block; 
    background-color: rgba(0, 0, 0, 0.9); 
}

#interface2{
    display: none;
    padding: 30px;
    font-size:7vw;

}
#box-interface2{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr repeat(4, 1fr);
    gap: 20px;
}


#interface3{
    display: none;
    padding: 30px;
    font-size:7vw;
}

#box-interface3{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr repeat(6, 0.8fr);
    gap: 20px;
}


.box-inf2{
    display: grid;
    cursor: pointer;
    border: none;
    grid-template-columns: 0.2fr 0.2fr 1fr;
    font-size: 2vw;
    background-color: rgb(148, 154, 160);
    place-items: center;
    text-decoration: none;
}



.box-inf2 :hover{
    scale: 0.9;
}

#box-inf1 img, #box-inf2 img, #box-inf3 img, #box-inf4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%; 
}

.box-inf3 {
    display: grid;
    border: none;
    grid-template-columns:0.4fr repeat(4, 0.2fr) ;
    font-size: 2vw;
    background-color: rgb(148, 154, 160);
    place-items: center;
    text-decoration: none;
}

.hora{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    color: black;
    border: 2px solid black;
    background-color: rgba(102, 108, 199, 0.164);
    font-size: 3vw;
    font-family: sans-serif;
    transition: 0.2s;
    cursor: pointer;
}

.hora:hover{
    font-size: 3.1vw;
    font-style: italic;

}

.box-inf3 h2{
    color: black;
}

#interface4{
    display: none;
    padding: 10%;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1fr 1fr 1fr 1.5fr 1.3fr;
}

#interface4 h2{
    text-align: center;
    font-size: 4vw;
}

#interface4 h3{font-size: 1.7vw; font-weight: lighter;}

#interface4 h4{ font-size: 2vw; font-weight: bold;}

#interface4 button{
    text-decoration: none;  
    border: none;
    cursor: pointer;
    font-size: 2vw;
    transition: 0.2s;
    font-weight: bold;
}

#interface4 button:hover{
    font-size: 2.3vw;
}
  
#interface5{
    display: none;
    padding: 10%;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#interface5 h2{
    font-size: 5vw;
}
#interface5 h3{
    font-size: 2vw; font-weight: lighter;
}









